@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.text-brand {
  color: #171717;
}

.text-subtitle {
  color: #ADADAD;
}

.brand-color {
  color: #E91C2D;
}

.discount-price-color {
  color: #d24343;
}

.brand-bg-color {
  background-color: #E91C2D;
}

.brand-stroke-color {
  stroke: #E5E5E5;
}

body {
  background-color: #FDFDFD;
}